<% include header %>
<% include menubar %>
<div class="container">
    <h2>New Review</h2>
    <form method="POST">
        <div class="form-group">
            <label for="driver"><b>Driver</b></label>
            <input type="text" class="form-control" id="plate" placeholder="Enter Driver" name="driver">
        </div>
        <div class="form-group">
            <label for="passenger"><b>Passenger</b></label>
            <input type="text" class="form-control" placeholder="Enter Passenger" name="passenger" required>
        </div>
        <div class="form-group">

            <label for="rating"><b>Rating</b></label>
            <input type="number" class="form-control" placeholder="Enter Rating" name="rating" required>
        </div>
        <div class="form-group">

            <label for="review"><b>Review</b></label>
            <input type="text" class="form-control" placeholder="Enter Review" name="review" required>
        </div>
        <button type="submit" class="btn btn-primary">Add Review</button>
    </form>
</div>
<% include footer %>