<% include header %>
<div class="container">
    <h2>Reset Password</h2>
    <form action="/login">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>
        <a class="btn btn-primary" href="/vehicles/new" role="button">Send New Password</a>
    </form>
    <div class="container signin">
        <p>I know my password <a href="/login">Login</a>.</p>
    </div>
</div>
<% include footer %>
