<% include header %>
<% include menubar %>
<div class="container">
    <h2>My reviews</h2>
    <p>Here you can see the reviews that users wrote about you:</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User</th>
                <th>Rating</th>
                <th>Review</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>alma</td>
                <td>5</td>
                <td>blabla...</td>
                <td>2018.09.23</td>
            </tr>
            <tr>
                <td>korte</td>
                <td>5</td>
                <td>blabla...</td>
                <td>2018.09.23</td>
            </tr>
            <tr>
                <td>cseresznye</td>
                <td>5</td>
                <td>blabla...</td>
                <td>2018.09.23</td>
            </tr>
            <tr>
                <td>dió</td>
                <td>5</td>
                <td>blabla...</td>
                <td>2018.09.23</td>
            </tr>
        </tbody>
    </table>
</div>
<% include footer %>