<% include header %>
<% include menubar %>
<div class="container">
    <h2>My reviews</h2>
    <p>Here you can see the reviews that users wrote about you:</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User</th>
                <th>Rating</th>
                <th>Review</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <% reviews.forEach(function(item){ %>
                <tr>
                    <td><%= item._passenger.name %></td>
                    <td><%= item.rating %></td>
                    <td><%= item.review %></td>
                    <td><%= item.date.toDateString() %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<% include footer %>