<% include header %>
<% include menubar %>
<div class="container">
    <h2>My rides</h2>
    <p>Here you can see your previous rides:</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>PickUp</th>
                <th>Destination</th>
                <th>Price</th>
                <th>Distance</th>
                <th>Duration</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>P치ty</td>
                <td>Budapest</td>
                <td>3500 Ft</td>
                <td>12 km</td>
                <td>00:32:14</td>
                <td>2018.08.27</td>
            </tr>
            <tr>
                <td>Budapest</td>
                <td>P치ty</td>
                <td>3500 Ft</td>
                <td>12 km</td>
                <td>00:32:14</td>
                <td>2018.08.27</td>
            </tr>
            <tr>
                <td>Budapest</td>
                <td>P치ty</td>
                <td>3500 Ft</td>
                <td>12 km</td>
                <td>00:32:14</td>
                <td>2018.08.27</td>
            </tr>
            <tr>
                <td>Budapest</td>
                <td>P치ty</td>
                <td>3500 Ft</td>
                <td>12 km</td>
                <td>00:32:14</td>
                <td>2018.08.27</td>
            </tr>
        </tbody>
    </table>
</div>
<% include footer %>