<% include header %>
<% include menubar %>
<div class="container">
    <h2>My Vehicles</h2>
    <p>Here you can see the list of your vehicles:</p>
    <a class="btn btn-primary" href="/vehicles/new" role="button">+ Add New Vehicle</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Licence plate</th>
                <th>Brand</th>
                <th>Type</th>
                <th>Colour</th>
                <th>Year of manufacture</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="/vehicles/new">AAA-111</a></td>
                <td>Ford</td>
                <td>Fiesta</td>
                <td>Silver</td>
                <td>2008</td>
                <td><a href="showResults.php?action=delete&item=112">X</a></td>
            </tr>
            <tr>
                <td><a href="/vehicles/new">AAA-111</a></td>
                <td>Ford</td>
                <td>Fiesta</td>
                <td>Silver</td>
                <td>2008</td>
                <td><a href="showResults.php?action=delete&item=112">X</a></td>
            </tr>
            <tr>
                <td><a href="/vehicles/new">AAA-111</a></td>
                <td>Ford</td>
                <td>Fiesta</td>
                <td>Silver</td>
                <td>2008</td>
                <td><a href="showResults.php?action=delete&item=112">X</a></td>
            </tr>
            <tr>
                <td><a href="/vehicles/new">AAA-111</a></td>
                <td>Ford</td>
                <td>Fiesta</td>
                <td>Silver</td>
                <td>2008</td>
                <td><a href="showResults.php?action=delete&item=112">X</a></td>
            </tr>
        </tbody>

    </table>
</div>
<% include footer %>